<html>
  <head>
    <title>Callback Request</title>
  </head>
  <body>
    <div>
      <p>Hi Admin!</p>
      <br />
      <br />
      <p>
        Call Back request is created by a customer: <%=data.name %>
        <br />
      </p>
      <p><b>Name</b>: <%= data.name %></p>
      <p><b>Contact</b>: <%= data.contact %></p>
      <br />
      <p>Thanks</p>
    </div>
  </body>
</html>
